@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Arimo:wght@400;500&family=Comfortaa:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Arimo', sans-serif;
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 0.75rem;
}

::-webkit-scrollbar-track {
    /* background: #495057; */
    background: white;
}

::-webkit-scrollbar-thumb {
    background: rgb(112, 153, 106);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(145, 145, 145);
}

.custom-collapse.collapse.navbar-collapse.ms-4.fs-5 ul li a {
    color: white;
}

.custom-collapse.collapse.navbar-collapse.ms-4.fs-5 ul li a:hover {
 color: rgb(108, 221, 108);
 border-bottom: 0.5px solid green;
}

/* END OF SCROLL BAR */

/* START NAVIGATION */

.navbar.navbar-expand-lg.bg-body-tertiary-0 {
    background-color: #405e4c;
    border-radius: 0% 0% 10% 10%;
}

.navbar-toggler.mx-4 {
    background-color:#88bd68;
}

/* END OF NAVIGATION */

/* IMAGE LOGO */

.bg-img {
    background-image: url(images/Shekels.jpg);
    min-height: 80vh;
    max-width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.bg-img.mt-5.mb-5 {
    margin-right: 40px;
}

/* Define the animated circle */
.bg-img.mt-5.mb-5::before {
    content: ""; /* Create a pseudo-element */
    position:absolute;
    margin-bottom: 200px;
    bottom: 0;
    left: 0;
    width: 100px; /* Adjust the size of the circle */
    height: 5px;
    background-color: #405e4c; /* Circle color */
    /* border-radius: 50%; Make it a circle */
    animation: moveLine 2.5s linear infinite; /* Apply the animation */
  }
  
  /* Define the animation keyframes for the circle */
  @keyframes moveLine {
    0% {
      left: 380px; /* Initial position of the circle, adjust as needed */
    }
    50% {
      left: calc(100% - 500px); /* Move the circle to the right */
    }
    100% {
      left: 380px; /* Return the circle to the initial position */
    }
  }

/* END OF IMAGE LOGO */

/* START MISSION AND VISION */


.container-fluid.pt-5 {
    padding-bottom: 50px;
    margin-top: 80px;
    background-color: #405e4c;
    color: white;
    border-radius: 10%;
    overflow: hidden;
}

.scroll-animation-left {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease, transform 2s ease;
  }
  
  .scroll-animation-left.active {
    opacity: 1;
    transform: translateX(0);
  }

  .scroll-animation-right {
    opacity: 0;
    transform: translateX(500%);
    transition: opacity 0.5s ease, transform 2s ease;
  }
  
  .scroll-animation-right.active {
    opacity: 1;
    transform: translateX(0);
  }

  
  /* Define the border animation keyframes */
  @keyframes borderPulse {
    0% {
      border-color: #ff0000; /* Red border at the beginning */
      transform: scale(1);
    }
    50% {
      border-color: #00ff00; /* Green border halfway through */
      transform: scale(1.1);
    }
    100% {
      border-color: #0000ff; /* Blue border at the end */
      transform: scale(1);
    }
  }
  
/* END OF MISSION VISION */

/* START TEAM */
.mt-5.text-center img {
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #405e4c;
    padding: 10px;
    border: 5px solid transparent; /* Start with a transparent border */
        animation: borderPulse 3s infinite; /* Apply the animation */
    /* object-fit: cover;
    top: 0;
    left: 0; */
}

.container.mt-5 {
  overflow: hidden;
}

.scroll-animation-bottom {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s ease, transform 2s ease;
}

.scroll-animation-bottom.active{
  opacity: 1;
  transform: translateY(0);
}

    .container img {
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid #405e4c;
        padding: 10px;
        border: 5px solid transparent; /* Start with a transparent border */
        animation: borderPulse 2s infinite; /* Apply the animation */
    }

    @keyframes borderPulse {
        0% {
          border-color: #91cfaa; /* Red border at the beginning */
          transform: scale(1);
        }
        50% {
          border-color: #1a7940; /* Green border halfway through */
          transform: scale(1.1);
        }
        100% {
          border-color: #405e4c; /* Blue border at the end */
          transform: scale(1);
        }
      }

/* END TEAM */

.footer.container-fluid.text-center {
    background-color: #405e4c;
    margin: 0;
    padding: 0;
}

.footer.container-fluid.text-center i {
    color: white;
}

.footer.container-fluid.text-center i:hover{
    size: 50px;
    color: green;
    transition: 1s;
}